*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-size: 0.625rem;
  font-family: "Forum", cursive;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  flex-shrink: 0;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

input::-webkit-input-placeholder {
  color: #000;
}

.container {
  max-width: 138.5rem;
  margin: 0 auto;
}

.header {
  background-color: #D9D9D9;
  display: flex;
  padding: 2.6rem 0;
  margin-bottom: 3rem;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin-right: 14rem;
}
.header__town {
  font-size: 3.5rem;
  line-height: 3.9rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.header__logo {
  width: 16rem;
  height: 6.6rem;
}
.header__icon {
  width: 3.6rem;
  height: 3.6rem;
}
.header-right {
  margin-left: 15rem;
  width: 43.5rem;
  display: flex;
  justify-content: space-between;
}
.header__search {
  width: 28.3rem;
  height: 3.4rem;
  background: transparent;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: text;
  display: flex;
  position: relative;
}
.header__search input {
  border: 0.1rem solid #000;
}
.header__search button {
  position: absolute;
  right: 0;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60rem;
}
.main__swiper {
  width: 100rem;
  height: 100%;
  margin-left: 0;
}
.main__blocks {
  height: 100%;
}

.swiper__wrapper {
  margin-right: 12rem;
}
.swiper__slide {
  position: relative;
}
.swiper__img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.swiper__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
}
.swiper__button--prev {
  left: 0;
}
.swiper__button--next {
  right: 0;
}

.infoblocks__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60rem;
}
.infoblocks__item {
  width: 28.3rem;
  height: 28rem;
}
.infoblocks__description {
  margin-top: 0.2rem;
  font-size: 1.6rem;
}

.clothes__title {
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 5rem;
  font-size: 5rem;
  line-height: 5.5rem;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: 37rem;
}
.clothes__title::after {
  content: "";
  width: 31.1rem;
  height: 0.15rem;
  background-color: #000;
  position: absolute;
  left: 8%;
  bottom: 0.5rem;
}

.products {
  display: flex;
  justify-content: space-evenly;
}
.products__item {
  width: 60rem;
  height: 66.6rem;
}
.products__description {
  font-size: 3.5rem;
  line-height: 3.9rem;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  .container {
    max-width: 100rem;
  }
  .header-left {
    margin-right: 0;
  }
  .header__town {
    letter-spacing: 0;
    font-size: 3rem;
  }
  .header-right {
    margin-left: 0;
  }
  .header__logo {
    margin: 0 5rem;
  }
  .header__search {
    width: 23rem;
  }
  .main__swiper {
    width: 68rem;
    height: 50rem;
  }
  .infoblocks {
    height: 50rem;
  }
}/*# sourceMappingURL=style.css.map */