*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 0.625rem;
  font-family: 'Forum', cursive;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

input::-webkit-input-placeholder {
  color: #000;
}

.container {
  max-width: 168rem;
  margin: 0 auto;
}

.header {
  background-color: #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.6rem 0;
  margin-bottom: 3rem;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50rem;
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin-right: 14rem;
}

.header__town {
  font-size: 3.5rem;
  line-height: 3.9rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.header__logo {
  width: 16rem;
  height: 6.6rem;
}

.header__icon {
  width: 3.6rem;
  height: 3.6rem;
}

.header--right {
  margin-left: 15rem;
  width: 43.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search {
  width: 28.3rem;
  height: 3.4rem;
  background: transparent;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__search input {
  border: 0.1rem solid #000;
}

.header__search button {
  position: absolute;
  right: 0;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__blocks-item {
  height: 30rem;
  width: 30rem;
}

.swiper {
  width: 100rem;
  height: 80vh;
  margin-right: 12rem;
}

.swiper__slide {
  position: relative;
}

.swiper__img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.swiper__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: #000;
  cursor: pointer;
}

.swiper__button--prev {
  left: 0;
}

.swiper__button--next {
  right: 0;
}
/*# sourceMappingURL=style.css.map */