.clothes
    &__title
        margin: 0 auto
        margin-top: 7rem
        margin-bottom: 5rem
        font-size: 5rem
        line-height: 5.5rem
        font-weight: normal
        text-transform: uppercase
        text-align: center
        position: relative
        width: 37rem
    &__title::after
        content: ''
        width: 31.1rem
        height: 0.15rem
        background-color: #000
        position: absolute
        left: 8%
        bottom: 0.5rem


.products
    display: flex
    justify-content: space-evenly
    &__item
        width: 60rem
        height: 66.6rem
    &__description
        font-size: 3.5rem
        line-height: 3.9rem
        margin-top: 0
        text-align: center
        text-transform: uppercase