.main
    &__wrapper
        display: flex
        justify-content: space-between
        width: 100%
        height: 60rem
    &__swiper
        width: 100rem
        height: 100%
        margin-left: 0
    &__blocks
        height: 100%
            
       
    
.swiper 
    &__wrapper
        margin-right: 12rem
    &__slide
        position: relative
    &__img
        max-width: 100%
        height: 100%
        object-fit: cover
        object-position: top center
    &__button
      position: absolute
      top: 50%
      transform: translateY(-50%)
      z-index: 99
      width: 5rem
      height: 5rem
      border: none
      cursor: pointer
      &--prev
        left: 0
      &--next 
        right: 0


.infoblocks
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 60rem
    &__item
        width: 28.3rem
    &__description
        margin-top: 0.2rem
        font-size: 1.6rem




       